@font-face {
    font-family: "nsj";
    src: url(polices/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}

* {
    --primaire: #2c2c54;
    --secondaire: #40407a;

    --violet-primaire: #8854D0;
    --violet-secondaire: #A55EEA;

    --rouge-primaire: #EB3B5A;
    --rouge-secondaire: #FC5C65;

    --white:#ffffff;

    font-family: "nsj", serif;
    font-size: 16px;
}
body {
  background-color: var(--secondaire);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ajuste la taille de la box "mdp" selon la box connexion */
    font-family: "Poppins", sans-serif;
}
body{
    display: flex ;/* rend l'élément plus flexible sur les dimensions */
    
    justify-content: center;
    align-items: center ;
    height: 100vh;/* adapte la taille de la box selon la taille du navigateur */
    background: url(background.jpg);
    background-position: center;
    background-size: cover;/* l'image garde les mêmes proportions */
}
section{ /* box connexion */
    background-color: rgba(137, 43, 226, 0.399);
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    padding: 40px;/* agrandit les contours de la box */
    width: 420px; /* taille en largeur de la box */
    border-radius: 20px; /* contours de la box */
}
section h1{/* texte */
    font-size: 30px; /* taille texte */
    text-align: center;/* position du texte */
    color: white; 
    margin-bottom: 40px; /* marge en dessous du texte */
}
.input-box{ /* box mdp */
    width: 100%;/* taille box mdp */
    position: relative; /* permet de décaler l'éléemnt par rapport a la position normale */
    margin-bottom: 25px; /* marge en dessous de la box */
}
.input-box input { /* box mdp */
    width: 100%;/* taille box mdp */
    padding: 15px;/* taille bords */
    border-radius: 15px; /* bordures box mdp */
    outline: none;/* bordure visuelles quand on clique sur la box */
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.2);/* bordures autour des box */
    color: #fff;
    padding-right: 40px;/* extension box a droite */

}
.input-box input::placeholder{ /* texte mdp */
    color: #fff;
}
.input-box i{/* gugus et cadenas */
    position: absolute; /* place le gugus dans la box mdp */
    transform: translateY(-40%); /* hauteur gugus */
    right: 20px; /* déplace gugus vers droite */
    top: 50%;/* déplace gugus de haut en bas */
    color: #fff;
}
.eye i, .eye-slash i {
    position: absolute; /* place le gugus dans la box mdp */
    transform: translateY(-40%); /* hauteur gugus */
    right: 45px; /* déplace gugus vers droite */
    top: 50%;/* déplace gugus de haut en bas */
    color: #fff;
    cursor: pointer;
}
.eye i:hover, .eye-slash i:hover{
    color: red;
}
.eye-slash i { 
    visibility: hidden;
}
.remember-forgot{ /* assez explicite qd même */
    display: flex;/* rend les éléments plus flexibles sur les positions */
    justify-content:space-between;/* espace entre les deux */
    align-items: center; /* met les trucs au centre */
    font-size: 14px; /* taille texte */
    color: #fff;
    margin-bottom: 25px; /* marge en dessous du texte */
}

.remember-forgot a, .register-link a{ /* animation quand on charge le site  */
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}
.remember-forgot a:hover, .register-link a:hover{ /* animation quand on passe la souris dessus */
    text-decoration: underline;
}
.login-btn{
   width: 100%; /* largeur boutton */
   padding: 15px; /* écart entre bordure et texte */
   border-radius: 25px;/* bords */
   outline: none;/* repère visuel qd on clique dessus */
   border: 0;
   font-weight: bold; /* mettre le texte en gras */
   cursor: pointer; /* changer le curseur souris */
   border: 2px solid transparent; /* espace entre bordure est texte */
   transition: 0.5s;
}
.login-btn:hover{
    background-color: transparent;
    border: 4px solid rgba(255,255,255,0.2);
    color: #fff;
}
.register-link{
    text-align: center;
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
}

body{
    background-image: url(fond_register.jpeg);
}
.co{
  animation-name: a_border;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}
@keyframes a_border {
0% {
    border-color: #40407a;
  }

  33% {
    border-color: #A55EEA;
  }

  66% {
    border-color: #FC5C65;
  }

  100% {
    border-color: #40407a;
  }
}
#message{
    background-color: transparent;
    color: white;
    width: 100%;
    border-radius: 10px;
}

.pseudo{
    animation-name: a_pseudo;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes a_pseudo {
    from{ bottom: 50vh; }
    to{ bottom: 0vh; }
}

.mail{
    animation-name: a_mail;
    animation-duration: 300ms;
    animation-delay: 350ms;
    right: 120vh;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes a_mail {
    from{ right: 120vh; }
    to{ right: 0vh; }
}
.message{
    animation-name: a_message;
    animation-duration: 200ms;
    animation-delay: 700ms;
    top: 50vh;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes a_message {
    from{ top: 50vh; }
    to{ top: 0vh; }
}

.sent{
    animation-name: a_sent;
    animation-duration: 200ms;
    animation-delay: 1000ms;
    scale: 0;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes a_sent {
    from{ scale: 0; }
    to{ scale: 1; }
}
