
@font-face {
    font-family: "nsj";
    src: url(polices/NotoSansJP-Regular.ttf);
}

@font-face {
    font-family: "nsj-b";
    src: url(polices/NotoSansJP-Black.ttf);
}

@font-face {
    font-family: "bpsi";
    src: url(polices/Bitcount_Prop_Single_Ink/BitcountPropSingleInk-VariableFont_CRSV,ELSH,ELXP,SZP1,SZP2,XPN1,XPN2,YPN1,YPN2,slnt,wght.ttf);
}

@font-face {
    font-family: "bbh";
    src: url(polices/BBHSansBogle-Regular.ttf);
}

* { 
    --darkeur: #1f1f3f;
    --primaire: #2c2c54;
    --secondaire: #40407a;

    --violet-primaire: #8854D0;
    --violet-secondaire: #A55EEA;

    --rouge-primaire: #EB3B5A;
    --rouge-secondaire: #FC5C65;

    --loaddelay: 5s; /* valeur de base : 5s*/

    --white:#ffffff;

    margin: 0;
    padding: 0;
    font-family: "nsj-b", serif;
    font-size: 16px;
}

html, body {
    height: 0%;
    scroll-behavior: smooth;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.section01{
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    z-index: -2;
}


/* ====== CONTAINER GLOBAL ====== */
.loader-container {
    position: fixed;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    animation-duration: var(--loaddelay);
    animation-name: zindex;
  
}

/* ====== CERCLE ====== */
.load {
    background-color: var(--white);
    width: calc(15vw);
    max-width: 200px;
    height: calc(15vw);
    max-height: 200px;
    border-radius: 50%;
    color: black;


    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    text-align: center;
    margin-bottom: 20px;
    animation: despawn var(--loaddelay) ease forwards;
}

.back-black{
    position: fixed;
    z-index: 9;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: zindex-back var(--loaddelay) ease forwards;

}


/* ====== ANIMATION BARRE ====== */
@keyframes loader {
    0% {opacity: 1; width: 0; }
    20% { width: 10%; }
    25% { width: 24%; }
    43% { width: 41%; }
    56% { width: 60%; }
    66% { width: 65%; }
    71% { width: 72%; }
    75% { width: 100%; }
    94% { opacity: 1; width: 100%; }
    100% { opacity: 0; width: 100%;}
}

@keyframes despawn {
  0% { opacity: 0; transform: scale(0.9); }
  10% { opacity: 1; transform: scale(1); }
  80% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.95); }
}

@keyframes zindex {
    0% { z-index: 9; opacity: 1; }
    99% { z-index: 9; }
    100% { z-index: -1; opacity: 1; }
    
}

@keyframes zindex-back {
    0% { z-index: 8; opacity: 1; }
    99% { z-index: 8; }
    100% { z-index: -3; opacity: 1; }
    
}
/* ====== BARRE DE PROGRESSION ====== */
.progress-bar {
    
    border-radius: 60px;
    overflow: hidden;
    width: 350%;
    background: rgb(94, 94, 94);
    opacity: 0;
    animation: despawn var(--loaddelay) ease forwards;

}

.progress-bar span {
    display: block;
}

.progress {
    opacity: 0;
    animation: loader var(--loaddelay) ease;
    background: var(--white);
    color: var(--white);
    padding: 5px;
    width: 100;
}




.background_v{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    scale: 102%;
    z-index: -1;
    opacity: 0;
    animation-delay: var(--loaddelay) + 2s;
    display: inline-block;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: spawn;
}

@keyframes spawn {
    0%{filter: blur(20px);}
    80%{filter: blur(0px);}
    100%{ opacity: 1;}
    
}


.content01{
    display: flex;
    flex-direction: column;
    justify-content: left;

    margin-left:2%;

    z-index: 5;
    color: var(--white);
}

.baton{
    width: 0.1%;
    height: 20%;
    background-color: var(--white);
    z-index: 2;
    margin-left: 1%;

    opacity: 0;
    animation-delay: calc(var(--loaddelay) + 0.5s);

    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: anim-bar1;
}

@keyframes anim-bar1{
    0%{
        opacity: 0;
        height: 0;
    }

    100%{
        opacity: 1;
        height: 20%;
    }

}

.baton0{
    
    width: 0.1%;
    height: 17%;
    background-color: var(--white);
    z-index: 2;
    margin-left: 5%;

    animation-delay: calc(var(--loaddelay) + 1s);
    opacity: 0;

    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: anim-bar0;
}

@keyframes anim-bar0{
    0%{
        opacity: 0;
        height: 0;
    }

    100%{
        opacity: 1;
        height: 17%;
    }

}


.slide-title{
    display: flex;
    font-family: "nsj", serif;
    color: var(--white);
    
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    
}

.h1_title-part1{
    font-size: 400%;

    animation-delay: var(--loaddelay);

    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform: translateX(-200%);
    animation-name: slide-in-top;
}

.h1_title-part2{
    font-size: 400%;

    animation-delay: calc(var(--loaddelay) + 0.4s);
    opacity: 0;

    display: inline-block;
    position: relative;
    transform: translateY(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform: translateY(-200%);
    animation-name: slide-in-top;
}

@keyframes slide-in-top {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.content01>p{
    font-family: "bpsi", serif;
    color: var(--white);
    font-size: 200%;
    text-align: left;
    overflow: hidden;
    display: inline-block;
    
    animation-delay: calc(var(--loaddelay) + 0.1s);
    opacity: 0;

    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-200%);
    animation-name: slide-from-right;

}

.continuer{
    display: block;
    margin: 5% auto;
    z-index: 6;
    background-color: transparent;
    backdrop-filter: blur(0px);
    color: var(--white);
    border: 2px solid var(--white);
    font-size: 1.5em;
    border-radius: 8px;
    cursor: pointer;
    padding: 3%;
    margin: 5% 0%;
    width: 30%;
    height: auto;

    transition: all 0.5s ease;

    animation-delay: calc(var(--loaddelay) + 0.4s);
    opacity: 0;

    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform: translateX(-200%);
    animation-name: slide-from-right;

}

.continuer:hover{
    background-color: rgba(178, 99, 231, 0.3);
    backdrop-filter: blur(20px);
    width: 35%;
    padding: 3.5%;
    cursor: pointer;
}

@keyframes slide-from-right{
    0%{
        opacity: 0;
        transform: translateX(200%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);       
    }
}





.bar01{
    background-color: var(--primaire);
    height: 7%;
    width: 100%;
}


.transition{
    background-color: var(--darkeur);
    height: calc(3.5vw);
    width: 100%;
    z-index: 3;
}


@media screen and (max-width: 780px) {

    .h1_title-part1, .h1_title-part2{
        font-size: 250%;
    }
    .content01>p{
        font-size: 150%;
    }

    .continuer{
        width: 70%;
    }

    .continuer:hover{
    background-color: rgba(178, 99, 231, 0.3);
    backdrop-filter: blur(20px);
    width: 85%;
    padding: 3.5%;
    cursor: pointer;
}

}

/*=================SECTION 02=================!*/




.section02{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--secondaire);
    height: auto;
    min-height: 1050px;
    width: 100%;

}

.story_ligne01, .story_ligne02{
    margin: 2%;
    padding: 0.1%;
    gap: 3%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    transition: all 0.5s ease;

    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    width: 90%

}

.story_ligne01:hover, .story_ligne02:hover{
    width: 96%;
}
.story_ligne01:hover .story_text p{
    font-size: clamp(1.1rem, 2.2vw, 1.6rem);

}

.story_text{
    
    padding: 2.5%;
    align-items: left;
    justify-content: left;
    color: var(--white);
    background-color: var(--primaire);
}

.story_text p{
    font-family: "bpsi", serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    transition: all 0.5s ease;
    
    margin-top: 2%;
    text-align: justify;
}

.story_text h2{
    font-family: "bbh", serif;
    font-size: clamp(1rem, 2.5vw, 3rem);
    
    margin-top: 2%;
    text-align: justify;
}


.story_image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;

}


.story_image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*============= Responsive Section02==============*/

@media screen and (max-width: 768px) {
    .story_ligne01, .story_ligne02 {
        flex-direction: column;
        align-items: center;
        
    }

    .story_text{
        border-radius: 18px;
        border: solid 2px var(--darkeur);
    }

    .story_image img{
        display: none;
    }

    
}

@media screen and (max-width: 1250px) {
    .section02{
        min-height: auto;
    }
}

/*==================================!*/


/*=================SECTION 03=================!*/

.background_v2{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    filter: blur(10px);
    scale: 102%;
    z-index: -1;
    opacity: 1;
    
}

.section03{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    overflow: hidden; 
    height: auto;
    width: 100%;

}

/*===== FORMULAIRE =====*/

.formulair{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5%;
    padding: 2%;
    background-color: var(--primaire);
    border-radius: 8px;
    width: 50%;
    height: auto;

    transition: all 0.5s ease;
}

.formulair:hover{
    scale: 120%;
    width: 80%;
    transform: translateX(30%);
}

.formulair:hover + .questionnaire{
    scale: 30%;
    transform: translateX(50%);
    opacity: 0.5;
}

.formulair:hover + .questionnaire p{
    
    font-size: clamp(0.2rem, 1vw, 0.4rem);
}


input{
    width: 80%;
    margin: 2% 0%;
    padding: 1%;
    border-radius: 5px;
    border: none;
    font-family: "bpsi", serif;
    font-size: 100%;
}

.formulair label{
    font-family: "bpsi", serif;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
}

.ligne0 h2{
    font-family: "bbh", serif;
    font-size: clamp(1rem, 2.5vw, 3rem);
    
    margin-top: 2%;
    text-align: justify;
    
}

.ligne1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5%;
}


.ligne1_2{
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
}

.ligne1_1{
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
}

.ligne1_1>input{
    width: 102%;
}
.ligne1_2>input{
    width: 102%;
}


.ligne2{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    
}

.ligne2>input{
    width: 100%;
}

.ligne3{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.ligne3>textarea{
    max-width: 100%;
    resize: vertical;
    height: 100px;
    min-height: 70px;
    max-height: 150px;
    
    margin: 2% 0%;
    padding: 1%;
    border-radius: 5px;
    border: none;
    font-family: "bpsi", serif;
    font-size: 100%;
}

.envoyer{
    background-color: var(--violet-primaire);
    border: none;
    color: var(--white);
    padding: 1.5% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin-top: 2%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*=======================================*/

/*===== Questionnaire =====*/

.questionnaire{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 5%;
    padding: 2%;
    background-color: var(--primaire);
    border-radius: 8px;
    width: 50%;
    height: auto;

    transition: all 0.5s ease;
}

.blockhover-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    z-index: 0;
}

.ligne_q0 h2{
    font-family: "bbh", serif;
    font-size: clamp(1rem, 2.5vw, 3rem);
    
    margin-top: 2%;
    text-align: justify;
    
}

.questionnaire div{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-bottom: 3%;
}

.questionnaire div label{
    font-family: "bpsi", serif;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
}

.formulair:hover{
    scale: 120%;
    width: 80%;
    transform: translateX(30%);
}

.formulair:hover + .questionnaire{
    scale: 30%;
    transform: translateX(50%);
    opacity: 0.5;
}

.blockhover-left:hover ~ .formulair{
    scale: 120%;
    width: 80%;
    transform: translateX(30%);
}

.blockhover-left:hover ~ .questionnaire{
    scale: 30%;
    transform: translateX(50%);
    opacity: 0.5;
}





.soumettre{
    background-color: var(--violet-primaire);
    border: none;
    color: var(--white);
    padding: 1.5% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    width: 100%;
    margin-top: 2%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/*============= Responsive Section03==============*/

@media screen and (max-width: 768px) {
    .section03{
    flex-direction: column;
    }

    .formulair, .questionnaire {
        width: initial;
    }

    .formulair:hover{
    scale: initial;
    width: initial;
    transform: none;
}
.questionnaire{
    width: 75%;
}

.formulair:hover + .questionnaire{
    scale: initial;
    transform: none;
    opacity: initial;
}

.blockhover-left:hover + .formulair{
    scale: initial;
    width: initial;
    transform: none;
}

.blockhover-left:hover + .questionnaire{
    scale: initial;
    transform: none;
    opacity: initial;
}

.formulair:hover{
    scale: initial;
    width: initial;
    transform: none;
}

.formulair:hover + .questionnaire{
    scale: initial;
    transform: none;
    opacity: initial;
}

.formulair:hover + .questionnaire p{
    
    font-size: initial;
}

}

/*==================================!*/




.footer-content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    height: calc(20vw);
    max-height: 160px;
    width: 100%;
    padding: 20px;
    background-color: var(--darkeur);
    color: var(--white);
}
