@font-face {
    font-family: "nsj";
    src: url(polices/NotoSansJP-Regular.ttf);
}

@font-face {
    font-family: "nsj-b";
    src: url(polices/NotoSansJP-Black.ttf);
}

@font-face {
    font-family: "bpsi";
    src: url(polices/Bitcount_Prop_Single_Ink/BitcountPropSingleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf);
}

@font-face {
    font-family: "bbh";
    src: url(polices/BBHSansBogle-Regular.ttf);
}

* {
    --primaire:#212140; 
    --secondaire: #2c2c54;
    --tertiaire: #40407a;

    --violet-primaire: #8854D0;
    --violet-secondaire: #A55EEA;

    --rouge-primaire: #EB3B5A;
    --rouge-secondaire: #FC5C65;

    --white:#ffffff;

    margin: 0;
    padding: 0;
    font-family: "nsj", serif;
    font-size: 16px;
}
.anim_nav_b{
    height: 5%;
    width: 7.5%;
    left: 21%;
    top: 9%;
    position: fixed;
    animation-name: a_nav_b;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 1000;
    animation-timing-function: linear;
}
@keyframes a_nav_b {
  0%     {left: 21%;opacity: 50%;}
  10%    {opacity: 100%;}
  39%    {opacity: 100%;}
  40%    {opacity: 75%;}
  45%    {opacity: 50%;}
  50%    {left: 73.5%;opacity: 25%;}
  50.1%  {opacity: 0%;}
  75%    {opacity: 0%;}
  100%   {opacity: 0%;}

}
.anim_nav_t{
    opacity: 0%;
    height: 5%;
    width: 7.5%;
    left: 21%;
    top: -1%;
    position: fixed;
    animation-name: a_nav_t;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    z-index: 1000;
    animation-timing-function: linear;
}
@keyframes a_nav_t {
  0%     {left: 73.5%;opacity: 50%;}
  10%    {opacity: 100%;}
  39%    {opacity: 100%;}
  40%    {opacity: 75%;}
  45%    {opacity: 50%;}
  50%    {left: 21%;opacity: 25%;}
  50.1%  {opacity: 0%;}
  75%    {opacity: 0%;}
  100%   {opacity: 0%;}

}
.anim{
  height: 100%;
}

body {
  background-color: var(--secondaire);
}


@keyframes a_app_r {
  0% {opacity: 100%; left: 100%; }
  10% {left: 90%; }
  20% {left: 80%; }
  30% {left: 70%;}
  40% {left: 68%; top: 40%;}
  50% {left: 66%; top: 40%;}
  60% {left: 64%; top: 40%;}
  70% {left: 62%; top: 40%;}
  100%{opacity: 100%;left: 62%; top: 100%;}
}



.panier{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15%;
  margin-top: 10%;

}
.l{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 0 0 5%;
  width: 55%;

}
.tuning{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #40407a71;
  border: 1px solid #8854d0;
  border-radius: 15px;
  padding: 1%;
  margin: 2% 2%;
  justify-content: space-between;

}
.tuning>img{
  height: auto;
  width: 15%;
}
.buy_del, .description{
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: space-between;
  width: 15%;
}
.description{
  width: 80%;
  border-radius: 10px;
  background-color:#a45eea11;
  color: red;
  
}

.nom{
  padding: 2%;
  width: 40%;
}
.prix{
  background-color:#8854D0;
  box-shadow: 0 0 10px #A55EEA;
  border-radius: 10px;
  padding: 2%;
  width: 40%;
  text-align: center;
  margin-left: 30%;
}
.del{
  background-color: var(--rouge-secondaire);
  padding: 2%;
  border-radius: 10px;
}
.buy {
  background-color: var(--violet-secondaire);
  padding: 2%;
  border-radius: 10px;
}

input[type=number] {
  -moz-appearance: textfield;
}
.nombre{
  text-align: center;
  background-color: transparent;
  border: none;
  color: #8854D0;
}
.moins{
  background-color: #FC5C65;
  width: 40%;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px #FC5C65;
}
.plus{
  background-color: #A55EEA;
  width: 40%;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px #A55EEA;

}
.quantite{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #212140;
  border-radius: 10px;
  justify-content: left;

}
.plus:active, .moins:active{
  scale: 0.8;
}
.plus:hover, .moins:hover{
  cursor: pointer;
}
.del:hover{
  cursor: wait;
}
.recap{
  display: flex;
  flex-direction: column;
  background-color: #40407a;
  border: 1px solid #8854D0;
  box-shadow: 0 0 10px #A55EEA;
  margin: 10% 5% 0 0 ;
  border-radius: 10px;
  padding: 5px;
  width: 15%;
  height: 100%;
}
.total, .livraison, .r_panier{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.paiement{
  width: 100%;
  text-align: center;
}
.total>h2{
  font-size: 140%;
}
.r_panier, .livraison, .total{
  padding: 5% 0;
}
.v_chrome{
  margin: 3% 0;
}

.garage{
  width: 70%;
  height: auto;
  position: absolute;
  margin-left: 1%;
  z-index: -1;
  visibility: visible;
}
.garage>img{
  width: 100%;
  height: auto;
  visibility: visible;
}
.t_c{
  position: absolute;
  top: 10%;
  display: none; 
}
.t_c:checked ~ .c{
  
  flex-direction: column;
  scale: 1;
  transition: 0.5s;
  width: 10%;
  top: 40%;
  left: 5%;
  backdrop-filter: blur(20px);
  position: absolute;

  img{
    width: 100%;
  }
  .buy_del{
    flex-direction: column;
    width: 100%;
    
  }
  .nombre{
    width: 80%;

  }
  
  .quantite{
    width: 50%;
    margin: 5% 0 5% 25%;
  }
  .del{
    width: 50%;
    margin: 5% 0 5% 25%;
  }


  
}
.c{
  z-index: 2;
  scale: 0;
  top: 50%;
}


.bouton-toggle {
  display: inline-block;
  background-color: var(--violet-secondaire);
  box-shadow: 0 0 10px var(--violet-secondaire);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  
  width: 20%; 
  box-sizing: border-box;
  text-align: center;
}

.bouton-toggle:hover {
  background-color: var(--violet-primaire);
}

.t_b{
  position: absolute;
  display: none; 
}
.button_a{
  bottom: 65%;
  left: 55%;
  position: absolute;
  width: 10%;
}
.button_b{
  bottom: 65%;
  left: 31%;
  position: absolute;
  width: 10%;
}
.button_c{
  bottom: 60%;
  left: 8%;
  position: absolute;
  width: 10%;
}
.t_b:checked ~ .b{
  
  flex-direction: column;
  scale: 1;
  transition: 0.5s;
  width: 10%;
  top: 35%;
  left: 28%;
  position: absolute;
  backdrop-filter: blur(20px);

  img{
    width: 100%;
  }
  .buy_del{
    flex-direction: column;
    width: 100%;
    
  }
  .nombre{
    width: 80%;

  }
  
  .quantite{
    width: 50%;
    margin: 5% 0 5% 25%;
  }
  .del{
    width: 50%;
    margin: 5% 0 5% 25%;
  }


  
}
.b{
  z-index: 2;
  scale: 0;
  top: 50%;
}


.t_a{
  position: absolute;
  display: none; 
}


.t_a:checked ~ .a{
  
  flex-direction: column;
  scale: 1;
  transition: 0.5s;
  width: 10%;
  top: 35%;
  left: 52%;
  backdrop-filter: blur(20px);
  position: absolute;

  img{
    width: 100%;
  }
  .buy_del{
    flex-direction: column;
    width: 100%;
    
  }
  .nombre{
    width: 80%;

  }
  
  .quantite{
    width: 50%;
    margin: 5% 0 5% 25%;
  }
  .del{
    width: 50%;
    margin: 5% 0 5% 25%;
  }


  
}
.a{
  z-index: 2;
  scale: 0;
  top: 50%;
}

.a_c{
  display: none;
}
.a_c:checked ~ .b, .a_c:checked ~ .a, .a_c:checked ~ .c, .a_c:checked ~ .garage{
  opacity: 0%;
}



.a_c{
  display: none;
}


.a_c:checked ~ .garage {
  opacity: 0%;
  visibility: hidden; 
  transition: opacity 0.5s ease; 
}

.b_a_c {
    position: fixed;
    top: 15%; 
    left: 70%; 
    z-index: 10;
}
.a_c:checked ~ .l-1{
  label{
    opacity: 0;
  }
  .l{
    flex-direction: column;
    display: flex;
    position:unset;

  }
  .a, .b , .c{
    scale: 1;
  }
}
footer{
  margin-top: 15%;
}

@media (max-width: 1500px) {
  .b_a_c, .garage, .button_a, .button_b, .button_c{
    display: none;
  }  
  .tuning{
    scale: 1;
  }
}
@media (max-width: 1000px){
  .anim_nav_b, .anim_nav_t{
    display: none;
  }
  .panier{
    display: flex;
    flex-direction: column;
  }
  .l{
    margin: 10% 0 0 0 ;
    width: 100%;
    justify-content: center;
  }
  .tuning{
    display: flex;

    width: auto;
    flex-direction: column;

  }
  img, .v_chrome{
    width: 100%;
    margin: 0 0 0 40%;
  }
  .buy_del{
    flex-direction: column;
    width: 100%;
    
  }
  .nombre{
    width: 80%;

  }
  
  .quantite{
    width: 50%;
    margin: 5% 0 5% 25%;
  }
  .del{
    width: 50%;
    margin: 5% 0 5% 25%;
  }
  .recap{
    width: 50%;
    margin-left: 23%;
  }
  .description{
    width: 100%;
  }
}
.semi-ligne-horizontal {
  height: 3px;
  width: 80%;
   margin: 1% 50% 3% 10%;
   background-color: var(--white);
   box-shadow:
      0 0 7px var(--white),
      0 0 10px var(--white),
      0 0 21px var(--white),
      0 0 42px var(--rouge-secondaire),
      0 0 82px var(--rouge-secondaire),
      0 0 92px var(--rouge-secondaire),
      0 0 102px var(--rouge-secondaire),
      0 0 151px var(--rouge-secondaire);
}
