@font-face {
    font-family: "nsj";
    src: url(polices/NotoSansJP-Regular.ttf);
}

@font-face {
    font-family: "nsj-b";
    src: url(polices/NotoSansJP-Black.ttf);
}

@font-face {
    font-family: "bpsi";
    src: url(polices/Bitcount_Prop_Single_Ink/BitcountPropSingleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf);
}

@font-face {
    font-family: "bbh";
    src: url(polices/BBHSansBogle-Regular.ttf);
}

* {
    --primaire:#212140; 
    --secondaire: #2c2c54;
    --tertiaire: #40407a;

    --violet-primaire: #8854D0;
    --violet-secondaire: #A55EEA;

    --rouge-primaire: #EB3B5A;
    --rouge-secondaire: #FC5C65;

    --white:#ffffff;

    margin: 0;
    padding: 0;
    font-family: "nsj", serif;
    font-size: 16px;
}
header,.panier {
  animation-name: horizontal-shaking;
  animation-duration: 200ms;
  animation-iteration-count: 2;
  animation-delay: 1700ms;
}
body {
  background-color: var(--secondaire);
}
@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateY(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateY(5px) }
 100% { transform: translateX(0) }
}
.anim_nav_b{
    height: 5%;
    width: 7.5%;
    left: 21%;
    top: 9%;
    position: fixed;
    animation-name: a_nav_b;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 1000;
    animation-timing-function: linear;
}
@keyframes a_nav_b {
  0%     {left: 21%;opacity: 50%;}
  10%    {opacity: 100%;}
  39%    {opacity: 100%;}
  40%    {opacity: 75%;}
  45%    {opacity: 50%;}
  50%    {left: 73.5%;opacity: 25%;}
  50.1%  {opacity: 0%;}
  75%    {opacity: 0%;}
  100%   {opacity: 0%;}

}
.anim_nav_t{
    opacity: 0%;
    height: 5%;
    width: 7.5%;
    left: 21%;
    top: -1%;
    position: fixed;
    animation-name: a_nav_t;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    z-index: 1000;
    animation-timing-function: linear;
}
@keyframes a_nav_t {
  0%     {left: 73.5%;opacity: 50%;}
  10%    {opacity: 100%;}
  39%    {opacity: 100%;}
  40%    {opacity: 75%;}
  45%    {opacity: 50%;}
  50%    {left: 21%;opacity: 25%;}
  50.1%  {opacity: 0%;}
  75%    {opacity: 0%;}
  100%   {opacity: 0%;}

}
.anim{
  height: 100%;
}
.anim_p{
  height: 80vh;
  position:absolute;
  padding: 0;
  margin: 0;
  left: -40%;
  top: 20%;
  animation-name: a_app_p;
  animation-duration: 2s;
  animation-timing-function: linear;
  z-index: 100;
}
@keyframes a_app_p {
  0% {left: -40%;}
  100%{left: 140%;}
}
.anim_roue{
  height: 20vh;
  position:absolute;
  padding: 0;
  margin: 0;
  left: 100%;
  top: 20%;
  animation-name: a_app_r;
  animation-duration: 2s;
  animation-timing-function: linear;
  z-index: 100;

}

.a{
  opacity: 100%;
  animation-name: a_o_a;
  animation-duration: 500ms;
}
.b{
  opacity: 100%;
  animation-name: a_o_b;
  animation-duration: 800ms;
}
.c{
  opacity: 100%;
  animation-name: a_o_c;
  animation-duration: 1200ms;
}
@keyframes a_o_a {
  0% {opacity: 0%;}
  99.9%{opacity: 0%;}
  100%{opacity: 100%;}
}
@keyframes a_o_b {
  0% {opacity: 0%;}
  99.9%{opacity: 0%;}
  100%{opacity: 100%;}
}
@keyframes a_o_c {
  0% {opacity: 0%;}
  99.9%{opacity: 0%;}
  100%{opacity: 100%;}
}
.l-2, .l-3{
  animation-name: a_app_l;
  animation-duration: 700ms;
  animation-timing-function:ease-in;
  position: relative;
  transform: translateY(-115vh);
  top :40%;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}
@keyframes a_app_l {
 0% { transform: translateY(-115vh) }
 5% {transform: translateY(-110vh)}
 40%{transform: translateY(-100vh) }
 50%{transform: translateY(-90vh) }
 100% { transform: translateY(0) }
}
.panier{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;
  margin-top: 15%;

}
.l{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2% 0;
}
.tuning{
  height: 5%;
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: rgba(137, 43, 226, 0.288);
  backdrop-filter: blur(50px);
  border-radius: 15px;
  padding: 1%;
  margin: 0 5%;
}
.tuning>img{
  height: auto;
  width: 80%;
}
.buy_del{
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: space-between;
}
.del{
  background-color: var(--rouge-secondaire);
  padding: 2%;
  border-radius: 10px;
}
.buy{
  background-color: var(--violet-secondaire);
  padding: 2%;
  border-radius: 10px;
}
