@font-face {
    font-family: "nsj";
    src: url(polices/NotoSansJP-Regular.ttf);
}

@font-face {
    font-family: "nsj-b";
    src: url(polices/NotoSansJP-Black.ttf);
}

@font-face {
    font-family: "bpsi";
    src: url(polices/Bitcount_Prop_Single_Ink/BitcountPropSingleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf);
}

@font-face {
    font-family: "bbh";
    src: url(polices/BBHSansBogle-Regular.ttf);
}

* {
    --primaire:#212140; 
    --secondaire: #2c2c54;
    --tertiaire: #40407a;

    --violet-primaire: #8854D0;
    --violet-secondaire: #A55EEA;

    --rouge-primaire: #EB3B5A;
    --rouge-secondaire: #FC5C65;

    --white:#ffffff;

    margin: 0;
    padding: 0;
    font-family: "nsj", serif;
    font-size: 16px;
}

html, body {
    height: 100%;
}

.video-accueil {
    width: 100%;
    height: 82vh;
    display: grid;
    grid-template-areas: "stack";
    position: relative;
    z-index: 1;
}

#background-video {
    width: 100%;
    height: 82vh;
    object-fit : cover;
}

/*------------------------------
Première Zone d'Information
------------------------------*/

/*-----Transition-----*/

/*-----Background-----*/

.zone-info-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondaire);
    padding-bottom: 4%;
}

/*-----Effet Glitch-----*/

.slogan {
   width: 80%;
   height: 100%;
   display: flex;
   align-items: center;
   text-align: center;
   margin: 3% 10% 2% 10%;
}

.glitch {
   position: relative;
   font-size: 65px;
   font-weight: bold;
   color: var(--white);
   letter-spacing: 3px;
   z-index: 1;
   font-family: "bbh",serif;
}

.glitch:before {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: -2px;
   width: 100%;
   color: 30px;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
   font-family: "bbh",serif;
}

.glitch:after {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 2px;
   width: 100%;
   color: 30px;
   background-color: var(--secondaire);
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
   font-family: "bbh",serif;
}

@keyframes noise-before {
   0% {
      clip: rect(61px, 9999px, 52px, 0);
   }
   5% {
      clip: rect(33px, 9999px, 144px, 0);
   }
   10% {
      clip: rect(121px, 9999px, 115px, 0);
   }
   15% {
      clip: rect(144px, 9999px, 162px, 0);
   }
   20% {
      clip: rect(62px, 9999px, 180px, 0);
   }
   25% {
      clip: rect(34px, 9999px, 42px, 0);
   }
   30% {
      clip: rect(147px, 9999px, 179px, 0);
   }
   35% {
      clip: rect(99px, 9999px, 63px, 0);
   }
   40% {
      clip: rect(188px, 9999px, 122px, 0);
   }
   45% {
      clip: rect(154px, 9999px, 14px, 0);
   }
   50% {
      clip: rect(63px, 9999px, 37px, 0);
   }
   55% {
      clip: rect(161px, 9999px, 147px, 0);
   }
   60% {
      clip: rect(109px, 9999px, 175px, 0);
   }
   65% {
      clip: rect(157px, 9999px, 88px, 0);
   }
   70% {
      clip: rect(173px, 9999px, 131px, 0);
   }
   75% {
      clip: rect(62px, 9999px, 70px, 0);
   }
   80% {
      clip: rect(24px, 9999px, 153px, 0);
   }
   85% {
      clip: rect(138px, 9999px, 40px, 0);
   }
   90% {
      clip: rect(79px, 9999px, 136px, 0);
   }
   95% {
      clip: rect(25px, 9999px, 34px, 0);
   }
   100% {
      clip: rect(173px, 9999px, 166px, 0);
   }
}

@keyframes noise-after {
   0% {
      clip: rect(26px, 9999px, 33px, 0);
   }
   5% {
      clip: rect(140px, 9999px, 198px, 0);
   }
   10% {
      clip: rect(184px, 9999px, 89px, 0);
   }
   15% {
      clip: rect(121px, 9999px, 6px, 0);
   }
   20% {
      clip: rect(181px, 9999px, 99px, 0);
   }
   25% {
      clip: rect(154px, 9999px, 133px, 0);
   }
   30% {
      clip: rect(134px, 9999px, 169px, 0);
   }
   35% {
      clip: rect(26px, 9999px, 187px, 0);
   }
   40% {
      clip: rect(147px, 9999px, 137px, 0);
   }
   45% {
      clip: rect(31px, 9999px, 52px, 0);
   }
   50% {
      clip: rect(191px, 9999px, 109px, 0);
   }
   55% {
      clip: rect(74px, 9999px, 54px, 0);
   }
   60% {
      clip: rect(145px, 9999px, 75px, 0);
   }
   65% {
      clip: rect(153px, 9999px, 198px, 0);
   }
   70% {
      clip: rect(99px, 9999px, 136px, 0);
   }
   75% {
      clip: rect(118px, 9999px, 192px, 0);
   }
   80% {
      clip: rect(1px, 9999px, 83px, 0);
   }
   85% {
      clip: rect(145px, 9999px, 98px, 0);
   }
   90% {
      clip: rect(121px, 9999px, 154px, 0);
   }
   95% {
      clip: rect(156px, 9999px, 44px, 0);
   }
   100% {
      clip: rect(67px, 9999px, 122px, 0);
   }
}

/*-----Contenu-----*/


.ligne-horizontal {
    width: 80%;
    margin: 1% 10%;
    height: 3px;
    background-color: var(--tertiaire);
}

.semi-ligne-horizontal, .semi-ligne-horizontal2 {
    width: 40%;
    height: 3px;
}

.semi-ligne-horizontal {
   margin: 1% 50% 1% 10%;
   background-color: var(--white);
   box-shadow:
      0 0 7px var(--white),
      0 0 10px var(--white),
      0 0 21px var(--white),
      0 0 42px var(--rouge-secondaire),
      0 0 82px var(--rouge-secondaire),
      0 0 92px var(--rouge-secondaire),
      0 0 102px var(--rouge-secondaire),
      0 0 151px var(--rouge-secondaire);
}


.semi-ligne-horizontal2 {
   margin: 1% 10% 1% 50%;
   background-color: var(--white);
   box-shadow:
      0 0 7px var(--white),
      0 0 10px var(--white),
      0 0 21px var(--white),
      0 0 42px var(--violet-secondaire),
      0 0 82px var(--violet-secondaire),
      0 0 92px var(--violet-secondaire),
      0 0 102px var(--violet-secondaire),
      0 0 151px var(--violet-secondaire);
}

.zone-texte{
    width: 80%;
    margin: 2% 10%;
}

.zone-texte>p, .zone-texte>p>b {
    color: var(--white);
    font-size: 20px;
}

.zone-texte>p>b {
    font-family: "nsj-b", serif;
    text-shadow: 2px 2px 2px var(--rouge-secondaire);
}

/*-----Animation voitures-----*/

.animation-voiture {
   width: 100%;
   height: 100%;
}

.voiture-gauche-droite {
   height: 2%;
   width: 4%;
   left: 21%;
   position: relative;
   animation-name:voiture-gauche-droite ;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   z-index: 2;
   animation-timing-function: linear;
}

@keyframes voiture-gauche-droite {
   0% {
      left: 11%;
      opacity: 50%;
   }
    10% {
      opacity: 100%;
    }
   40% {
      opacity: 100%;
   }
   50% {
      left: 83%;
      opacity: 25%;
   }
    
   50.1% {
      opacity: 0%; 
   }
   100% {
      opacity: 0%; 
   }
}

.voiture-droite-gauche {
   height: 2%;
   width: 4%;
   left: 21%;
   position: relative;
   animation-name:voiture-droite-gauche ;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   z-index: 2;
   animation-timing-function: linear;
   animation-delay: 2s;
}

@keyframes voiture-droite-gauche {
   0% {
      left: 83%;
      opacity: 50%;
   }
    10% {
      opacity: 100%;
    }
   40% {
      opacity: 100%;
   }
   50% {
      left: 11%;
      opacity: 25%;
   }
    
   50.1% {
      opacity: 0%; 
   }
   100% {
      opacity: 0%; 
   }
}



/*-----Warning-----*/

.avertissement {
   display: flex;
   width: 80%;
   margin: 2% 0 0 10%;
}

.avertissement>p {
   color: var(--white);
}

.avertissement>p>b {
    font-family: "nsj-b", serif;
    text-shadow: 2px 2px 2px var(--rouge-secondaire);
}

/*--------------------------------
Zone Carousel
--------------------------------*/

/*-----Fond Vidéo-----*/

.background-carousel {
    width: 100%;
    position: relative;
    background-color: transparent; 
}

#background-carousel-id {
    width: 100%;
    height: 100%;
    object-fit : cover;
    z-index: 0; 
    position: absolute;
    top: 0;
    left: 0;
}

.superposition-carousel {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/*-----Carousel-----*/

.div-carousel {
    overflow: hidden; 
    position: relative;
    width: 100%; 
    padding-top: 3%;
    padding-bottom: 3%; 
}

.titre-neon {
   display: flex;
   justify-content: center;
   font-size: 40px;
   color: var(--white);
   text-shadow:
      0 0 7px var(--white),
      0 0 10px var(--white),
      0 0 21px var(--white),
      0 0 42px var(--violet-secondaire),
      0 0 82px var(--violet-secondaire),
      0 0 92px var(--violet-secondaire),
      0 0 102px var(--violet-primaire),
      0 0 151px var(--violet-primaire);
   padding: 2%;
}

.defilement-carousel {
   display: flex;
   transition: transform 0.5s ease-in-out; 
}

.element-carousel {
    min-width: 100%; 
    padding: 0 10%;
    box-sizing: border-box;
    text-align: center;
    color: var(--white);
    border-radius: 15px;
}

.element-carousel video {
   max-width: 100%;
   height: auto;
   border-radius: 15px;
   display: block; 
   margin: 0 auto;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.fleche-droite, .fleche-gauche {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    background: rgba(0, 0, 0, 0.5);
    color: var(--rouge-secondaire); 
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    z-index: 10; 
    font-size: 30px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.fleche-droite:hover, .fleche-gauche:hover {
    background: var(--violet-secondaire);
    opacity: 0.8;
}

.fleche-gauche {
   left: 15px;
}

.fleche-gauche img {
   display: flex;
   justify-content: center;
}

.fleche-droite {
   right: 15px;
}

/*--------------------------------
Zone Info 2
--------------------------------*/

.zone-info-2 {
   padding-top: 3%;
   width: 100%;
   display: flex;
   flex-direction: column;
   background-color: var(--secondaire);
   padding-bottom: 4%;
}

/*-----Titre Glitch 2-----*/

.div-glitch2 {
   margin: 5% 10%;
   width: 40%;
   height: 100%;
   display: flex;
   align-items: center;
   text-align: center;
   background-color: var(--secondaire);
}

.glitch2 {
   position: relative;
   font-size: 40px;
   font-weight: bold;
   color: var(--white);
   letter-spacing: 3px;
   z-index: 1;
}

.glitch2:before,
.glitch2:after {
   display: block;
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.8;
}

.glitch2:before {
   animation: glitch2 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: var(--violet-secondaire);
   z-index: -1;
}

.glitch2:after {
   animation: glitch2 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: var(--rouge-secondaire);
   z-index: -2;
}

@keyframes glitch2 {
   0% {
      transform: translate(0);
   }
   20% {
      transform: translate(-2px, 2px);
   }
   40% {
      transform: translate(-2px, -2px);
   }
   60% {
      transform: translate(2px, 2px);
   }
   80% {
      transform: translate(2px, -2px);
   }
   to {
      transform: translate(0);
   }
}

/*-----Carousel 3-----*/

.div-carousel3 {
   width: 100%;
   height: 30vh;
   overflow: hidden; 
   position: relative; 
}

.carousel3-infini {
    display: flex; 
    width: min-content; 
    animation: rotation-carousel2 45s infinite linear;
    height: 100%;
}

.groupe {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 80px;
   flex-shrink: 0; 
   height: 100%;
   padding-right: 80px;
   box-sizing: border-box;
}

.div-carousel3::-webkit-scrollbar {
   display: none;
}

.element-carousel3 {
   flex: 0 0 300px; 
   height: 100%;
   align-content: center;
   filter: invert(1) brightness(2);
}

.element-carousel3-2 {
   width: 100px;
   align-content: center;
}

/*--------------------------------
Transition Info 2 - Info 3
--------------------------------*/

.zone-transition {
    position: relative;
    padding: 4% 0;
    overflow: hidden;
}

#transition-zone1-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
}

/*-----Carousel Avis Droite-----*/

.carousel-avis-droite {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.carousel-avis-droite-infini {
    display: flex; 
    width: min-content; 
    animation: rotation-carousel-avis-droite 70s infinite linear;
    height: 100%;
}

.groupe-avis {
   display: flex;
   gap: 80px;
   align-items: center;
   flex-shrink: 0; 
   height: 100%;
   padding-right: 80px;
   box-sizing: border-box;
}

.carousel-avis-droite::-webkit-scrollbar {
   display: none;
}

@keyframes rotation-carousel-avis-droite {
   from {
      transform: translateX(-50%);
   }
   to {
      transform: translateX(0);
   }
}

/*-----Carousel Avis Gauche-----*/

.carousel-avis-gauche {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.carousel-avis-gauche-infini {
    display: flex; 
    width: min-content; 
    animation: rotation-carousel-avis-gauche 70s infinite linear;
    height: 100%;
}

.groupe-avis {
   display: flex;
   gap: 80px;
   align-items: center;
   flex-shrink: 0; 
   height: 100%;
   padding-right: 80px;
   box-sizing: border-box;
}

.carousel-avis-gauche::-webkit-scrollbar {
   display: none;
}

@keyframes rotation-carousel-avis-gauche {
   from {
       transform: translateX(0);
   }
   to {
       transform: translateX(-50%);
   }
}

/*-----Avis-----*/

.div-avis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--tertiaire);
    border-radius: 15px;
    width: 450px;
    min-height: 220px; 
    color: var(--white);
    padding: 15px;
    box-sizing: border-box;
}

.nom-utilisateur {
   text-shadow: 1px 1px 1px var(--violet-primaire);
   font-size: 20px;
   font-family: "nsj-b", serif;
}

.note {
   display: flex;
   justify-content: space-between;
}

.etoile {
   display: flex;
}

/*--------------------------------
Zone Info 3
--------------------------------*/

.zone-info-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondaire);
    padding-bottom: 4%;
}

/*-----Carousel 2-----*/

.div-carousel2 {
   width: 100%;
   height: 30vh;
   overflow: hidden; 
   position: relative; 
}

.carousel2-infini {
    display: flex; 
    width: min-content; 
    animation: rotation-carousel2 10s infinite linear;
    height: 100%;
}

.groupe {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 80px;
   flex-shrink: 0; 
   height: 100%;
   padding-right: 80px;
   box-sizing: border-box;
}

.div-carousel2::-webkit-scrollbar {
   display: none;
}

.element-carousel2 {
   flex: 0 0 450px; 
   height: 95%;
   font-size: 25px;
   border-radius: 15px;
   text-align: center;
   margin-bottom: 1%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.element-carousel2:hover {
   box-shadow: 3px 3px 3px var(--rouge-secondaire);
}

.element-carousel2 a {
   text-decoration: none;
}

@keyframes rotation-carousel2 {
   from {
       transform: translateX(0);
   }
   to {
       transform: translateX(-50%);
   }
}

.i1 {
   background-image: url(images_index/image_boutique.jpg);
   background-position: bottom;
}

.i2 {
   background-image: url(images_index/image_panier.jpg);
}

.i3 {
   background-image: url(images_index/image_apropos.jpg);
   background-position: center;
}
